@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Lateef&family=Lato:ital,wght@1,300&family=Love+Ya+Like+A+Sister&family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Lateef&family=Lato:ital,wght@1,300&family=Love+Ya+Like+A+Sister&family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: ;
    background-image:url("../pexels-felix-mittermeier-956981.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

.container {
    width: 940px;
    background-color: blueviolet;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1.0);
    border-radius: 14px;
    min-height: 350px;
    padding: 80px 90px;
    display: flex;
}

.left-side  {
    width: 50%;
}
.right-side {
    width: 40%;
    margin-left: 100px;
}


.left-side img {
    height: 280px;
    width: 450px;
    border-radius: 10px;
}

.right-side h1 {
    font-size: 40px;
}
.right-side ul {
    font-weight: 700;
    font-size: 20px;
    margin-top: 12px;
    
}

.right-side a {
    border-radius: 90px;
    text-decoration: none;
    background-color: green;
    width: 100%;
    padding: 12px 0;
    color: black;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}
